header img {
  width: 130px;
  margin: 0 15px;
  transition: transform 0.5s;
}

header img:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--mainRed);
  height: 100px;
  box-shadow: 1px 2px 2px white;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  width: 100%;
  box-sizing: border-box; /* Pour inclure le padding dans la largeur */
}

.nav-menu button:hover,
.search-icon:hover {
  transform: scale(1.1);
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  cursor: pointer;
}

.nav-menu button {
  font-size: 16px;
  color: white;
}

.search-container {
  width: 400px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-container button {
  align-items: center;
  display: flex;
}

.search-container input {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  width: 300px;
  height: 25px;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid black;
}

::placeholder {
  color: white;

  opacity: 0.8;
}
