.character-container {
  display: flex;
  /*position: relative;*/
  margin: 20px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px var(--black);
  border-radius: 15px 50px;
}
.character-image {
  border-radius: 15px 50px;
  box-shadow: 5px 5px 10px var(--black);

  width: 250px;
}

/*.heart-icon {
  position: absolute;
  font-size: 30px;
  bottom: 10px;
}*/

.character-description-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-right: 40px;
}

.character-description-container h1 {
  margin-top: 10px;
}
.character-description-container p {
  margin: 10px 10px;
}

.comics-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 576px) {
  .character-description-container h1 {
    font-size: 18px;
  }

  .character-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .character-container {
    flex-direction: column;
    align-items: center;
  }
}
