.comics-container {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  padding: 20px 0;
}

.comics-items {
  display: flex;
  cursor: pointer;
  box-shadow: 5px 5px 10px var(--black);
  border-radius: 5px;
  width: 400px;
  max-height: 202px;
}

.comics-items:hover {
  box-shadow: 5px 5px 10px var(--mainRed);
}

.comics-items img {
  height: 200px;
}

.comic-description-container {
  display: flex;
  flex-direction: column;
  /*justify-content: space-around;*/
  padding: 10px;
}

.comic-description-container p {
  margin-top: 10px;
  overflow: hidden;
}
