.comics-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px 0;
}

.comics-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.comics-items h2 {
  display: flex;
  flex-wrap: wrap;
}

.hide-description {
  display: none;
}

.comics-items:hover .hide-description {
  display: block;

  background-color: #101211;
  margin: 0 10px;
  position: absolute;
  bottom: 10px;
  padding: 10px 10px;
  border-radius: 10px;
}
