:root {
  --mainRed: #ed1b24;
  --mainBlue: #012c3c;
  --black: #101211;
}

/* GLOBALS */

a {
  text-decoration: none;
  color: white;
}
main {
  padding-top: 110px;
}
.container {
  margin: 10px 20px;
}
body {
  background-color: var(--mainBlue);
  color: white;
  font-family: "Comic Neue";
}

h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
h2 {
  font-weight: bold;
}

img {
  object-fit: cover;
}

button {
  background-color: var(--mainRed);
  border: none;
}

button:hover {
  cursor: pointer;
}

.home-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
